@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
body {
    background: #4cbf77;
    font-family: arial;
}

h1 {
    background: #136330;
    font-family: "Lato", serif;
    color: #b2dac1;
}

p {
    background: #808d96;
}
.dark {
    background: #136330;
    color: #b2dac1;
    border: #b2dac1;
}
